.top_bar{
    width: 100%;
    height: 59px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 38px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    padding: 0;
	font-size: 14px;
	font-family: 'Work Sans';
}
.edition_mode{
    background-color: #000;
    color: #FFF;
    margin-right: 20px;
    height: 25px;
    background-color: transparent;
}
.publish_changes{
    width: 216px;
}
.fa-pen-to-square{
    margin-right: 11px;
}

/*          Edit buttons            */

.edit_btn{
    color: #000;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 100;
}
#introduction .edit_btn{
    margin-left: 57px;
    position: relative;
    top: 15px;
}
#portfolio .edit_btn{
    position: relative;
    top: -30px;
    left: 160px;
}

/*          OVERLAY         */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*          MODAL           */

.modal{
    width: 630px;
    height: 731px;
    background-color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px ;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

/*          MODAL HEADER          */

.modal_header{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin-bottom: 46px;
}

.modal_header h2{
    color: #000;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}

/*          CANCEL          */

.cancel_modal{
    display: flex;
    justify-content: flex-end;
}

.fa-xmark{
    font-size: 19px;
    cursor: pointer;
}


/*          MODAL BODY          */

.modal_content{
    height: 100%;
    min-height: 400px;
    width: 420px;
    margin-bottom: 38px;
    border-bottom: 1px solid #B3B3B3;
    background-color:beige;
}


/*          MODAL FOOTER          */

.modal_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_footer button{
	width: 237px;
}

.modal_footer .add_picture{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
    border: none;
}
.modal_footer .add_picture:hover{
	background-color: #0E2F28;
}
.modal_footer .delete_btn{
    color: #D65353;
    background-color: transparent;
}
.modal_footer .delete_btn:hover{
    color: #D65353;
    background-color: transparent;
    text-decoration: underline
}